<div class="container mt-5" *ngIf="restaurant">
  <h2 class="mb-4 text-info">{{ restaurant.name }} Menu</h2>
  <ul class="list-group mb-4">
    <li
      *ngFor="let dish of restaurant.menu"
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      <span>{{ dish.name }} - ₹{{ dish.price }}</span>
      <button class="btn btn-outline-success btn-sm" (click)="addToCart(dish.id)">
        Add
      </button>
    </li>
  </ul>
  <button class="btn btn-primary" routerLink="/cart">Go to Cart</button>
</div>
